<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>meow meow nanny</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <link rel="stylesheet" type="text/css" href="../static/css/booking.css">
</head>
<body>
    <div id="header">
        <div id="title-container">
            <button id="title" class="logo"></button>
        </div>
        <div id="title-sub-container">
            <button class="sub-title" id="order-button">訂單</button>
            <button class="sub-title" id="booking-button">預約</button>
            <button class="sub-title" id="message-button">訊息</button>
            <button class="sub-title" id="nanny-button">成為nanny</button>
            <button class="sub-title" id="log-out">登出</button>
            <button id="user-logo"></button>
        </div> 
    </div>
    <div class="main">
        <div class="top-zone">
            <button class="btn button-1" id="btn1">
                邀請列表
                <hr class="btn-hr" id="btn1-line">
            </button>
            <button class="btn button-2" id="btn2">
                客戶列表
                <hr class="btn-hr" id="btn2-line">
            </button>
        </div>
        <div class="container" id="container">

        </div>
    </div>
    <footer>
        <div class="footer">
            Copyright © 2023 meow meow nanny. All rights reserved.
        </div>
    </footer>
    <script src="../static/booking.js"></script>
</body>
</html>