<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>meow meow nanny</title>
    <link rel="stylesheet" type="text/css" href="../static/css/home.css">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>
<body>
    <div id="header">
        <div id="title-container">
            <button id="title" class="logo"></button>
        </div>
    </div>
    <div id="main">
        <div id="main-picture">

        </div>
        <div id="sign-zone">
            <div id="sign-zone-title">
                登入
            </div>
            <div class="sign-in-container">
                <div class="sign-in-input-container">
                    <input placeholder="請輸入信箱" class="sign-input" id="signin-email">
                    <input type="password" placeholder="請輸入密碼" class="sign-input" id="signin-password">
                </div>
                <button class="sign-in-button" id="sign-in-button">
                    登入
                </button>
            </div>                
            <div id="sign-zone-title">
                註冊
            </div>
            <div class="sign-in-container">
                <div class="sign-in-input-container">
                    <input placeholder="請輸入真實姓名" class="sign-input" id="signup-name">
                    <input type="date" placeholder="請輸入出生年月日" class="sign-input" id="signup-birthday">
                    <input placeholder="請輸入身分證字號" class="sign-input" id="signup-user-id">
                    <input placeholder="請輸入註冊信箱" class="sign-input" id="signup-email">
                    <input type="password" placeholder="請輸入註冊密碼" class="sign-input" id="signup-password">
                    <input placeholder="請輸入暱稱" class="sign-input" id="signup-nickname">
                </div>
                <button class="sign-up-button" id="sign-up-button">
                    註冊
                </button>
            </div>    
        </div>
    </div>
    <footer>
        <div class="footer">
            Copyright © 2023 meow meow nanny. All rights reserved.
        </div>
    </footer>
    <script src="../static/home.js"></script>
</body>
</html>